<?xml version="1.0" encoding="UTF-8"?>
<beans default-init-method="init" default-destroy-method="destroy"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
  http://www.springframework.org/schema/beans/spring-beans.xsd  ">

	<!-- 要调用的工作类 -->
	<bean id="quartzService" class="com.zxiao.service.quartz.QuartzServiceTest"></bean>
	
	<!-- 定义调用对象和调用对象的方法 -->
	<bean id="testJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="quartzService" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>test</value>
		</property>
	</bean>
	
	<!-- 定义触发时间 -->
	<bean id="testTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="testJob" />
		</property>
		<!-- cron表达式 -->
		<property name="cronExpression">
		    <value>*/3 * * * * ?</value>
		</property>
	</bean>
	
	<!-- 总管理类 -->
	<bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="testTrigger" />
			</list>
		</property>
	</bean>

</beans>